td, th {
  vertical-align: middle !important;
  text-align: middle !important;
}

svg {
  height: 130px;
  width: 200px;
}

td:first-of-type, td:first-of-type > diV {
  height: 150px;
  width: 200px;
}